@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--poppins);
}

:root {
  --primary-color: #e82573;
  --primary-color-dark: #bc1c5c;
  --text-dark: #0c0a09;
  --text-light: #78716c;
  --white: #ffffff;
  --max-width: 1200px;
  --poppins: "Poppins", sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

html,body {
    scroll-behavior: smooth;
}

/* reusable css custom classes  */
.header {
  position: fixed;
  width: 100%;
  height: 30px;
  background-color: var(--primary-color);
}
.container {
  max-width: 1220px;
  width: 100%;
  margin: auto;
}

 .navbar { 
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #e82573;
  width: 100%;
  /* position: relative; */
  /* z-index: 999; */
}

.navbar img {
  width: 100px;
  height: auto;
}

.navbar button {
  display: none;
}

.navbar-links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 100%;
  width: 100%;
  background-color: red;
  transform: translateY(-130%);
  transition: 300ms;
  z-index: -1;
max-width: 1220px;
}

.navbar-links-active {
  transform: translateY(0%);
  z-index: -1;
}

ul li a{
  color: white;
  font-family: var(--poppins);
  font-size: 1rem;
}

 






/*  hero section */

.hero-section {
  height: 100vh;
  width: 100%;
  background-color: rgba(255, 106, 0, 0);
  background-image: url(/assets/header.jpg);
  background-position: center center;
  background-size: cover;
  object-fit: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  flex-direction: column;
  text-align: center;
  color: var(--white);
}

.hero-container h1 {
  font-weight: bolder;
font-size: 1.5rem; 
}

.hero-container h3 {
  font-weight: 600;
  font-size: 1.2rem;
}

.btn {
  padding: 0.50rem 1.0rem;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}



@media screen and (min-width: 768px) {
  .header {
background-color: #bc1c5c00;
  }
  .navbar {
    background-color: rgba(255, 106, 0, 0);
    justify-content: space-evenly;
    align-items: center;
    display: flex;
      margin: 1rem 1rem;
  }

  .container{
    /* max-width: 740px; */
    width: 100%;
    margin: 0px auto;
  }

  .navbar-logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbar-links {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(0);
    flex-direction: row;
    gap: 2rem;
    width: auto;
    background-color: rgba(240, 248, 255, 0);
  }

  .navbar .navbar-btn {
    display: inline;
  }

  .nav-menu-btn {
    display: none;
  }

  ul li a{
    font-size: 1rem;
  }



  .navbar-logo {
    /* height: auto; */
  }
  .navbar-logo img {
    /* height: auto; */
    /* width: 100%; */
  }

  .hero-container h1 {
    font-weight: bolder;
  font-size: 3rem; 
  }
  
  .hero-container h3 {
    font-weight: 600;
    font-size: 2rem;
  }

} 

/* booking section  */

.section-booking {
  padding-block: 0;
}

.booking-form {
  padding: 2rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--white);
  border-radius: 10px;
  transform: translateY(-50%);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

.input-group {
  flex: 1 1 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.input-group span {
  font-size: 1.75rem;
  color: var(--primary-color);
}

.input-group label {
  font-weight: 500;
  color: var(--text-dark);
}

.input-group input {
  display: block;
  width: 100%;
  max-width: 150px;
  padding-block: 5px;
  color: var(--text-dark);
  font-size: 0.9rem;
  outline: none;
  border: none;
}

.input-group input::placeholder {
  color: var(--text-light);
}
