@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--poppins);
}

:root {
  --primary-color: #e82574;
  --primary-color-dark: #bc1c5c;
  --text-dark: #0c0a09;
  --text-light: #78716c;
  --white: #ffffff;
  --max-width: 1200px;
  --poppins: "Poppins", sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

html,body {
    scroll-behavior: smooth;
}

/* reusable css custom classes  */

.container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.nav-menu-btn {
  font-size: 1.5rem;
  color: var(--white);
}

.heading {
  max-width: 37.5rem;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 3rem;
  color: var(--text-dark);
}

.sub-heading {
  margin-bottom: 0.5rem;
  position: relative;
  font-weight: 500;
  letter-spacing: 2px;
  color: var(--text-dark);
}

.sub-heading::after {
  position: absolute;
  content: "";
  top: 50%;
  transform: translate(1rem, -50%);
  height: 2px;
  width: 4rem;
  background-color: var(--primary-color);
}

.description {
    max-width: 37.5rem;
    max-width: 600px;
  margin-bottom: 1rem;
  color: var(--text-light);
}

.btn {
    padding: 0.75rem 1.5rem;
    outline: none;
    border: none;
    font-size: 1rem;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--primary-color-dark);
    font-size: 1.2rem;
}

img {
    display: flex;
    width: 100%;
}

/* hero section  */

.hero-section {
    background-image: url("assets/header.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }